<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.scorekeepdraft1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".activities.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/baseballtest"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baseballtest"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LeagueActivity"
            android:parentActivityName=".activities.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:parentActivityName=".activities.LeagueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StandingsActivity"
            android:label="STANDINGS"
            android:parentActivityName=".activities.LeagueActivity" />
        <activity
            android:name=".activities.StatsActivity"
            android:label="PLAYER STATS"
            android:parentActivityName=".activities.LeagueActivity" />
        <activity
            android:name=".activities.SetLineupActivity"
            android:label="Lineup Editor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MatchupActivity"
            android:label="Matchup Selector"
            android:parentActivityName=".activities.LeagueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PlayerPageActivity"
            android:parentActivityName=".activities.StatsActivity" />
        <activity android:name=".activities.TeamPageActivity" />
        <activity
            android:name=".activities.BoxScoreActivity"
            android:label="Box Score"
            android:parentActivityName=".activities.GameActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".data.StatsProvider"
            android:authorities="com.example.android.scorekeepdraft1"
            android:exported="false" />
    </application>

</manifest>